# Virtual environment
env/
venv/

# Python
__pycache__/
*.pyc

# Database
*.sqlite3

# Environment variables
.env
*.env

# Media uploads
media/

# OS files
.DS_Store

# Editor
.vscode/

# Keep important config
!.gitignore
!.travis.yml