{% extends 'core/navbar.html' %}
{% load static %}
{% block content %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Login</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">
         
            <div class="row">
               <div class="col-lg-8 offset-lg-2">
                  <div class="full">
                     <form method="POST" action="{% url 'core:login' %}">
                        {% csrf_token %}
                        <fieldset>
                           <input type="text" placeholder="Enter your username" name="username" required />
                           <input type="password" placeholder="Enter your password" name="password" required />
                           <input type="submit" value="Login" />
                            <p>Don't have an account?</p>
                           <a href="{% url 'core:register' %}" class="btn btn-secondary">Register</a>
                        </fieldset>
                      </form>
                   </div>
               </div>
            </div>
         </div>
      </section>
      {% endblock content %}
     
      